USE [master]
GO
/****** Object:  Database [TravelSecurityDB]    Script Date: 05/05/2026 19:19:35 ******/
CREATE DATABASE [TravelSecurityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelSecurityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TravelSecurityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelSecurityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TravelSecurityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelSecurityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelSecurityDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/05/2026 19:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[TripId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rooms] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[IsFromWaitingList] [bit] NOT NULL,
	[PromotedAt] [datetime] NULL,
	[ReminderSent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceReviews]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingDeadlineDays] [int] NOT NULL,
	[CancellationDeadlineDays] [int] NOT NULL,
	[ReminderDaysBeforeTrip] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripReviews]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[TripId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trips]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[TripId] [int] IDENTITY(1,1) NOT NULL,
	[Destination] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DiscountPrice] [decimal](10, 2) NULL,
	[AvailableRooms] [int] NOT NULL,
	[PackageType] [nvarchar](50) NOT NULL,
	[AgeLimit] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsVisible] [bit] NOT NULL,
	[Popularity] [int] NOT NULL,
	[DiscountEndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TripId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](512) NULL,
	[Role] [nvarchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[IDNumber] [nvarchar](9) NULL,
	[CreditCardNumber] [nvarchar](19) NULL,
	[ValidDate] [nvarchar](5) NULL,
	[CVC] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaitingList]    Script Date: 05/05/2026 19:19:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaitingList](
	[WaitingListId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TripId] [int] NOT NULL,
	[RoomsRequested] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WaitingListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([Id], [BookingDeadlineDays], [CancellationDeadlineDays], [ReminderDaysBeforeTrip]) VALUES (1, 3, 3, 4)
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Trips] ON 

INSERT [dbo].[Trips] ([TripId], [Destination], [Country], [StartDate], [EndDate], [Price], [DiscountPrice], [AvailableRooms], [PackageType], [AgeLimit], [Description], [ImageUrl], [IsVisible], [Popularity], [DiscountEndDate]) VALUES (2, N'Paris', N'France', CAST(N'2026-06-10' AS Date), CAST(N'2026-06-17' AS Date), CAST(1800.00 AS Decimal(10, 2)), NULL, 10, N'Romantic', 16, N'Romantic getaway in Paris.', N'https://res.cloudinary.com/dtljonz0f/image/upload/v1/Paris-hp-banner_kzqphg', 1, 9, NULL)
INSERT [dbo].[Trips] ([TripId], [Destination], [Country], [StartDate], [EndDate], [Price], [DiscountPrice], [AvailableRooms], [PackageType], [AgeLimit], [Description], [ImageUrl], [IsVisible], [Popularity], [DiscountEndDate]) VALUES (3, N'Nice', N'France', CAST(N'2026-07-05' AS Date), CAST(N'2026-07-12' AS Date), CAST(1700.00 AS Decimal(10, 2)), NULL, 8, N'Luxury', NULL, N'Luxury vacation on the French Riviera.', N'https://lp-cms-production.imgix.net/2023-02/3cb45f6e59190e8213ce0a35394d0e11-nice.jpg', 1, 13, NULL)
INSERT [dbo].[Trips] ([TripId], [Destination], [Country], [StartDate], [EndDate], [Price], [DiscountPrice], [AvailableRooms], [PackageType], [AgeLimit], [Description], [ImageUrl], [IsVisible], [Popularity], [DiscountEndDate]) VALUES (7, N'Rome', N'Italy', CAST(N'2026-06-15' AS Date), CAST(N'2026-06-22' AS Date), CAST(1500.00 AS Decimal(10, 2)), NULL, 12, N'Family', NULL, N'Ancient history and culture.', N'https://tourismmedia.italia.it/is/image/mitur/20220127150143-colosseo-roma-lazio-shutterstock-756032350-1', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Trips] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [FirstName], [LastName], [IDNumber], [CreditCardNumber], [ValidDate], [CVC]) VALUES (1, N'Yael Levin', N'yaellevin1@gmail.com', N'9a23fb52b719efc30fd95af7f31775bbe14a9bced21fa4e165ac08dc5cb19a61', N'Admin', 1, N'yael', N'levin', N'111111111', N'1111 1111 1111 1111', N'11/28', N'123')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [FirstName], [LastName], [IDNumber], [CreditCardNumber], [ValidDate], [CVC]) VALUES (2, N'niv sahar', N'niv1@gmail.com', N'00110037f3e36a86d225f9ad48e557d990b96ff548bb8fbd889e112ad9fee8fa', N'User', 1, N'niv', N'sahar', N'222222222', N'2222 2222 2222 2222', N'09/29', N'222')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [FirstName], [LastName], [IDNumber], [CreditCardNumber], [ValidDate], [CVC]) VALUES (3, N'Ron Zimmerman', N'ron3@gmail.com', N'dc350fa19c75616a7f90aa50b5f2dda7f87f4f3243a7e55d83d2a2133506f6c7', N'User', 1, N'ron', N'zimmerman', N'333333333', N'3333 3333 3333 3333', N'11/27', N'333')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345EE50CE1]    Script Date: 05/05/2026 19:19:36 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsFromWaitingList]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [ReminderSent]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[ServiceReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((0)) FOR [ReminderDaysBeforeTrip]
GO
ALTER TABLE [dbo].[TripReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Trips] ADD  DEFAULT ((0)) FOR [Popularity]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[WaitingList] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([TripId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ServiceReviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TripReviews]  WITH CHECK ADD FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([TripId])
GO
ALTER TABLE [dbo].[TripReviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WaitingList]  WITH CHECK ADD FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([TripId])
GO
ALTER TABLE [dbo].[WaitingList]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ServiceReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[TripReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
